.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.subtitle {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 300;
  padding-left: 0.4rem;
  line-height: 0.5;
}

.guide {
  font-weight: 400;
  font-size: 2rem;
}

.logoWrap {
  cursor: pointer;
  & > div {
    display: flex;
    margin: 0;
  }
}

.icon {
  -webkit-animation: spin 10s linear infinite; /* Safari */
  animation: spin 10s linear infinite;
  font-size: 2rem;
}

/* Safari */
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
  .icon {
    font-size: 1.5rem;
  }
  .subtitle {
    font-size: 1.2rem;
    padding-left: 0.1rem;
    line-height: normal;
  }
  .guide {
    font-size: 3vw;
  }
}
