.weatherCardWrapper {
  border-radius: 20px;
  border: 2px solid black;
  min-height: 40vh;
  padding: 2rem;
  width: 500px;
  justify-content: space-between;

  h2 {
    font-size: 4rem;
  }

  .todayWrapper {
    align-items: center;
    position: relative;
    display: inherit;
  }

  .currentlyIn {
    font-size: 0.85rem;
  }

  .metricWrapper {
    padding-top: 0.25rem;
  }
}
