html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: ease-in-out 0.5s;
  word-wrap: break-word;
}

:root {
  --link-blue: #0077b6;
  --light-bg: #fff;
  --dark-bg: #000;
  --light-gray: #ccc;
  --negative: rgb(255, 80, 0);
  --negative-dark: rgba(255, 80, 0, 0.4);
}

a {
  color: var(--link-blue);
  text-decoration: none;
}
